body {
    background-color: #2980b9;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 8em;
}

.root {
    position: relative;
}

.display {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2980b9;
    box-shadow: 0.45pt 0.45pt 0.45pt black;
}
